.background{
    position: relative;
    height: 810px;
    background: url(../images/background.jpg) center center / cover no-repeat;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    position: absolute;
    top: 22px;
    z-index: 1;
    .social-media{
        display: flex;
        gap: 25px;
        li{
            width: 37px;
            height: 37px;
            display: flex;
            justify-content: center;
            align-items: center; 
            border: 2px solid #fff;
            border-radius: 5px;
            transform: rotate(45deg);
                   
            img{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: rotate(-45deg);
                
            }
        }
    }
}


