/* звездочка, значит применяется ко всему */
*{
    padding: 0; /* внутренний отступ */
    margin: 0; /* внешний отступ */
    box-sizing: border-box; /* включает подсчет ширины и высоты элемента с учётом padding и border*/
    /* Content-box (модель контента). Значение по умолчанию для всех элементов. В этой модели размеры элемента (width и height) определяют только размеры содержимого, исключая отступы и границы.
        Border-box (модель границ). Значение border-box изменяет модель измерения так, что размеры элемента width и height включают внутренние отступы и границы. */
}

html{
    scroll-behavior: smooth; /*чтобы сделать перемещение по якорным ссылка плавным*/
    font-family: "Montserrat", sans-serif;
}

:root{
    --accent-color: #7C3BED;
    --second-color: #FAF5FF;
    --text-grey:#6F6F7B;
    --fixed-measure: 8px;
}

a {
    text-decoration: none; /* убрать подчеркивание */
    color: #fff;
}

.container{
    width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
}

.title {
    font-weight: 700;
    font-size: 32px;
    line-height: 92%;
    text-align: center;
}
.tag {
    padding: 8px 10px; 
    display: inline-block;
    border-radius: 20px; 
    background-color: var(--accent-color); 
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    color: #fff;
}

.header{
    background-color: #fff;

}
.header__wrapper{
    padding: 18px 0;
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    gap: var(--fixed-measure);
}


.logo__block{
    height: 44px;
    width: 44px;
    background-color: var(--accent-color);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        height: 33px;
        width: 33px;
        object-fit: contain;

    }
}

.logo__text{
    p{
        &:nth-child(1){
            color: var(--accent-color);
        }
        &:nth-child(2){
            color: #000000;

        }
    }
    
}

.phone{
    padding: 18px 20px;
    background-color: var(--accent-color);
    border-radius: 8px;
    align-items: center;
    display: inline-flex;
    gap: 10px;
    span{
        justify-content: space-between;
        align-items: center;
        &:hover{
            text-decoration: underline; 
            transition: all 2s ease; 
        }
    }
}

.future {
    padding: 80px 0;
    background-color: var(--second-color);
    .future__wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;

    }
    
    .future__decor {
        margin-bottom: 32px;
        padding: 8px 56px; 
        border-radius: 20px; 
        background-color: var(--accent-color); 
        border: none; 
        color: #fff; 
        /* cursor: none; СПРОСИТЬ */
    }
    .future__title {
        margin-bottom: 32px;
        color: var(--accent-color); 
        font-size: 60px;
        font-weight: 700;
        text-align: center;
        line-height: 100%; /* расстояние между строчками */
    }
    .future__subtitle{
        margin-bottom: 64px;
        width: 790px;
        color: var(--text-grey); 
        font-weight: 400;
        font-size: 20px;
        line-height: 150%;
        text-align: center;
    }
    .future__btns{
        margin-bottom: 40px;
        display: flex;
        gap: 20px;
        .future__btn{
            padding: 12px 20px;
            display: flex;
            align-items: center;
            gap: 8px;
            font-weight: 500;
            font-size: 18px;
            line-height: 100%;
            border: none;
            border-radius: 8px;
        }
        .future__btn--left{
            color: #fff;
            background-color: var(--accent-color);
            &:hover{
                text-decoration: underline; 
                transition: all 2s ease; 
                cursor: pointer;
            }
        }
        .future__btn--right{
            color: #000;
            background-color: #fff;
            border: var(--text-grey) solid 0.5px;
            &:hover{
                text-decoration: underline; 
                transition: all 2s ease; 
                cursor: pointer;
            }
        }
    }
    .future__advantages{
        display: flex;
        gap: 8px;
        div{
            display: flex;
            align-items: center;
            gap: 4px;
            img {
                width: 25px;
                height: 25px;
            }
            span {
                padding: 10px;
                font-weight: 400;
                font-size: 14px;
                line-height: 211%;
                color: #000;
            }

        }
    }
}

.about{
    padding: 80px 0;
    width: 50%;

    &__descr {
      
        color: var(--text-grey);
    }
}

.courses{
    padding: 80px 0;
    .courses__top{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
    .switching{
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 32px;
        padding: 8px 56px; 
        border-radius: 20px; 
        background-color: var(--accent-color); 
        border: none; 
        color: #fff; 
        /* cursor: none; */
    }
}

.interesting {
    padding: 7px;
    background-color: var(--second-color);
    border-radius: 8px;
    .img {
        width: 25px;
        height: 25px;
    }
    .facts {
        display: grid;
        grid-template-columns: repeat(2, auto); 
        gap: 10px;
    }
    .child__active {
        grid-column: span 2;
    }

    /* .photo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 100%;
        gap: 50px;
        grid-template-areas: 
        "header header"
        "sidebar . ."
        "footer footer .";
        .item:nth-child(1){
            grid-area: header;
            background-color: #750808;
        }
        .item:nth-child(2){
            grid-area: sidebar;
            background-color: #750808;
        }
        .item:nth-child(3){
            grid-area: footer;
            background-color: #750808;
        }
    }
} */
 .photo {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Два столбца */
    grid-template-rows: auto auto; /* Два ряда */
    gap: 17px;
    grid-template-areas:
        "header header"
        "sidebar . ."
}

.photo1.item:nth-child(1) {
    grid-area: header;
    background-color: #750808;
}

.photo2.item:nth-child(2) {
    grid-area: sidebar;
    background-color: #750808;
}

.photo3.item:nth-child(3) {
    grid-area: header;
    background-color: #750808;
}
}