/* звездочка, значит применяется ко всему */
*{
    padding: 0; /* внутренний отступ */
    margin: 0; /* внешний отступ */
    box-sizing: border-box; /* включает подсчет ширины и высоты элемента с учётом padding и border*/
    /* Content-box (модель контента). Значение по умолчанию для всех элементов. В этой модели размеры элемента (width и height) определяют только размеры содержимого, исключая отступы и границы.
        Border-box (модель границ). Значение border-box изменяет модель измерения так, что размеры элемента width и height включают внутренние отступы и границы. */
}

html{
    scroll-behavior: smooth; /*чтобы сделать перемещение по якорным ссылка плавным*/
}

a{
    text-decoration: none; /* убрать подчеркивание */
    color: #000000;
}

.container{
    padding: 0 40px;
    margin: 0 auto;
}

header{
    padding: 10px 0;
    background-color: #e1adf0;
        .header-wrapper{
        display: flex; /* выравнивание и расположение вложенных элементов по оси */
        justify-content: space-between; /* Распределяет элементы внутри flex-контейнера так, чтобы крайние элементы были у краев, а остальные – с равным промежутком между собой */
        align-items: center; /* Вертикальное выравнивание вложенных элементов по центру внутри flex-контейнера. */
    }
        .logo {
            display: block; /* Делает элемент блочным, занимает всю доступную ширину по умолчанию. */
            height: 100px; /* Высота */
            width: 100px; /* Ширина */
            img{
                height: 100%;
                width: 100%;
                border-radius: 50%; /* Закругление */
            }
    }
    
}

.header__list{
        ul {
        display: flex; /* flex-контейнер для расположения элементов списка в строку */
        justify-content: space-around; /* равномерное распределение элементов с одинаковыми отступами вокруг */
        align-items: center; /* расположение по вертикали */
        gap: 20px; /* расстояние между элементами списка 20px */
        list-style: none; /* убрать точки в списке */
    }
        a{
            position: relative;
            &:hover{
                color: #350639;
            }
            &::after{
                content: "";
                background-color: #350639;
                position: absolute;
                left: 0;
                bottom: -10px;
                height: 2px;
                width: 0%;
                transition: width 0.5s ease-in-out;
            }
            &:hover::after{
                width: 100%;
            }
        }
}

header a{
    font-size: 23px;
    color: #000000;
    
}

header {
    .hamburger{
        width: 70px;
        display: none;
        /* flex-direction: column; */
        /* gap: 5px; */
    
        span{
            background: #d172fa;
            display: block;
            height: 4px;
        }
    }
    a:hover{
        font-size: 27px;
        color: rgb(41, 4, 59);
        transition: all 1s ease; /* анимация при наведении */
    }
}

.menu__mobile{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
    background: rgba(42, 34, 45, 0.5);
    padding: 0;
    margin-left: 0;
    margin: 0;
    display: none;
    &.active{
        display: block;

    }
    nav{
        padding-top: 15px;
        width: 40%;
        background: white;
        height: 100%;
        position: relative;
        ul{
            li{
                padding: 10px;
                border-bottom: 1px solid #6c6c6c;
                &:hover{
                    /* text-decoration: underline wavy rgb(255, 0, 204); при наведении появляется подчеркивание */
                    transition: all 2s ease; /* плавный переход с длительностью 2 секунды */
                    background: #d26bff;
                }
                
            }
        }
    }
    .close__btn{
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background:#d172fa
    }
}



footer{
    border: 1px solid black; /* Граница */
    position: relative;
    .footer__info{
        padding: 50px;
        padding: 50px;
        z-index: 10;
        position: absolute;
        background: #e1adf0;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            margin-bottom: 20px;
        }
    }
    .icons{
        display: flex;
        justify-content: center;
        gap: 20px;
        
    }

        
    a {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-color: white;
        display: flex; 
        align-items: center;
        justify-content: center;
        img {
            height: 100%;
            width: 100%;

        }
    }
}
        
    


.prices {
    display: flex; /* flex-контейнер для расположения дочерних элементов в строку */
    justify-content: center; /* выравнивание элементов по горизонтали по центру */
    gap: 20px; /* расстояние между элементами 20px */
    flex-wrap: wrap; /* перенос элементов на следующую строку при нехватке места */
    margin-bottom: 100px; /* отступ снизу для отделения от следующих блоков */
}

.price__item {
    display: flex; /* делает элемент flex-контейнером */
    flex-direction: column; /* располагает дочерние элементы вертикально */
    gap: 10px; /* отступ между дочерними элементами */
    img {
    width: 300px; /* ширина */
    border-radius: 20px; /* скругление углов изображения */
}
    p{
    font-weight: 1000; /* жирный шрифт (очень насыщенный) */
}
    a{
    font-size: 20px; /* Размер */

    &:hover{
        text-decoration: underline; /* при наведении появляется подчеркивание */
        transition: all 2s ease; /* плавный переход с длительностью 2 секунды */
    }
    }
}

.price__btn {
    width: 80%; /* занимает 80% ширины родителя */
    padding: 10px; /* внутренние отступы для комфорта клика */
    margin: 0 auto 100px auto; /* центрирование кнопки по горизонтали + отступ снизу */
    display: block; /* кнопка ведет себя как блочный элемент, занимает всю ширину контейнера */
    border-radius: 10px; /* скругленные углы */
    background-color: #d172fa; /* фоновый цвет кнопки (фиолетовый) */
    border: none; /* без границы */
    color: black; /* цвет текста внутри кнопки */
    cursor: pointer; /* курсор меняется на руку при наведении */
    margin-bottom: 100px; /* внешний отступ снизу элемента */
}

.subscribers__wrapper {
    margin-bottom: 100px; /* отступ снизу для разделения с другими блоками */
    width: 250px; /* фиксированная ширина контейнера */
    display: flex; /* задает flex-контейнер для дочерних элементов */
    flex-wrap: wrap; /* перенос элементов на новую строку при нехватке места */
    justify-content: space-between; /* равномерное распределение элементов с отступами */
    gap: 20px; /* промежуток между элементами */
    img{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        object-fit: cover; /*чтобы изображение не искажалось */
    }
}

.subscribers__item {
    padding: 10px; /* внутренний отступ */
    display: flex; /* flex-контейнер */
    flex-direction: column; /* вертикальное расположение дочерних элементов */
    justify-content: space-around; /* равномерное распределение пространства между элементами по вертикали */
    align-items: center; /* выравнивание по центру по горизонтали */
    border-radius: 10px; /* скругление углов элемента */
    transition: all 2s ease; /* плавный переход для всех свойств длительностью 2 секунды */

    /* Эффект при наведении на элемент */
    &:hover {
        background-color: #d26bff; /* цвет фона при наведении */
        cursor: pointer; /* курсор меняется на указатель */
    }
}


.count{
    margin-bottom: 40px;/* отступы снизу*/
}


/* .example {
    position: relative; устанавливает контекст для абсолютного позиционирования дочерних элементов
    width: 400px; фиксированная ширина блока
    height: 500px; фиксированная высота блока
    background-color: #d26bff; фоновый цвет 
    p {
         position: absolute;  позволяет позиционировать относительно родителя (.example) 
         top: 100px; отступ сверху относительно контейнера 
         left: 50px; отступ слева относительно контейнера 
     }
}  */


.main {
    margin-bottom: 100px; /* нижний отступ для разделения с другими блоками */
    position: relative;/* устанавливает контекст для абсолютного позиционирования дочерних элементов */
    img{
        width: 100%;/* изображение растягивается на всю ширину блока */
    }
    h1{
        position: absolute;/* абсолютное позиционирование относительно .main */
        top: 100px;/* отступ сверху */
        left: 100px;/* отступ слева */
        width: 200px;/* фиксированная ширина заголовка */
        font-size: 90px;/* размер шрифта */
        color: white;
    }
}

.main__title {
    position: absolute; /* абсолютное позиционирование относительно .main */
    top: 100px; /* отступ сверху */
    left: 100px; /* отступ слева */
    width: 200px; /* фиксированная ширина заголовка */
    font-size: 90px; /* размер шрифта */
    color: white; /* цвет текста */
}

.circle{
    position: fixed; /* фиксированное позиционирование — элемент всегда виден в окне */
    bottom: 10px; /* отступ от низа окна */
    right: 10px; /* отступ от правого края окна */
    width: 70px; /* ширина круга */
    height: 70px; /* высота круга */
    border-radius: 100%; /* делает элемент круглым */
    background: #d172fa; /* цвет фона */
    font-size: 30px; /* размер шрифта внутри */
    display: flex; /* использование флексбокса для центрирования содержимого */
    align-items: center; /* вертикальное центрирование */
    justify-content: center; /* горизонтальное центрирование */
    cursor: pointer; /* курсор меняется на "руку" при наведении */
    z-index: 1000; /* перекрытие, чем больше тем он первее перекрывает */
    transition: all 1s ease; /* плавный переход при изменении стилей */
    p {
        color: #350639;
    }
    &:hover{
        height: 80px; /* Высота */
        width: 80px; /* Ширина */
        background: #d172fa;
        transform: translate(5px, 5px); /* сдвигаем, чтобы было ровно, перемещения элемента */
        p{
            color: #000000;
        }
    }

}

/* footer{
    height: 500px; 
} */

.about{
    background-color: #d26bff;
    .about__wrapper{
        height: 1000px; /* Высота */
        .sticky{
            height: 50px; /* Высота */
            width: 200px; /* Ширина */
            color: #350639;
            position: sticky; /* позиционирование sticky — фиксируется при прокрутке */
            background: #f1d1ff;
            padding: 10px;
            z-index: 10;/* порядок наложения (чем выше — тем выше слой) */ 
            &:nth-child(1){
                top: 100px; /* смещение от верха в 100px */
            }
            &:nth-child(2){
                top: 200px; /* смещение от верха в 100px */
            }
            &:nth-child(3){
                top: 300px;/* смещение от верха в 100px */
            }
        }
           
    }
}



@media (max-width: 1200px){
    .container {
        padding: 0 20px; /* Внутренние отступы */
        width: 80%; /* ширина контейнера 80% */
    }
    .main {
        h1 {
        font-size: 10px;
        }
    }
    
}

@media (max-width: 768px){
    header {
        .hamburger{
            display: flex;
            flex-direction: column;
            gap: 5px;
        }
    }
    .header__list{
        display: none;
    }
}

