* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   
    height: 100dvh;
    background-color: rgb(237, 234, 228);
}
.cards-wrapper {
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    width: 500px;  
    height: 350px; 
}
.cards-wrapper img {
    position: absolute;
    width: 170px;
    height: 210px;
    object-fit: fill;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    cursor: pointer;
    border: 2px solid #000000;
    transition: all 2s ease;
    &:hover {
        transform: scale(1.5);
    }
}

.cards-wrapper img:nth-child(1) {
    left: 0;
    top: 0;
    z-index: 1;
}
.cards-wrapper img:nth-child(2) {
    left: 60px;
    top: 60px;
    z-index: 2;
}
.cards-wrapper img:nth-child(3) {
    left: 120px;
    top: 120px;
    z-index: 3;
}
.cards-wrapper img:nth-child(4) {
    left: 180px;
    top: 180px;
    z-index: 4;
}
.cards-wrapper img:nth-child(5) {
    left: 240px;
    top: 240px;
    z-index: 5;
}

